@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #f59e0b;
  --accent-dark: #64748b;
  --accent-light: #a9a9a9; 
}

.title-shadow {
  text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.5);
}

.text-content-shadow {
  text-shadow: -3px 8px 2px rgba(0, 0, 0, 0.8);
}

.link-selected,
.link:hover {
  color: var(--primary);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--accent-light);
  animation: unblur 1.5s;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
}

image:hover {
  transform: rotate(-1deg);
  transition-duration: 400ms;
}

.transitionTest {
  animation: spin-shrink 17.97s ease-in-out forwards, disappear 0.03s ease-in 18.05s forwards;
}

.bg-fade {
  animation: full-fade 20s ease-in-out infinite;
}

.logo {
  text-shadow: -14px 14px 0 black, 14px 14px 0 black, 14px -14px 0 black, -14px -14px 0 black;
}

.logo:hover {
  animation: logo-transition 4s forwards;
}

@keyframes logo-transition {
  from {
    filter: blur(4px);
  }
  to {
    text-shadow: -14px 14px 0 white, 14px 14px 0 white, 14px -14px 0 white, -14px -14px 0 white;
    filter: blur(0px);
  }
}

.appear-in {
  animation: appear-in 4s forwards;
}

.appear-out {
  animation: appear-out 2s forwards;
}

@keyframes full-fade {
  from {
    opacity: 0;
  }
  33% {
    opacity: 1;
  }
  66% {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes appear-in {
  from {
    opacity: 0;
    transform: scale(1.05);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes appear-out {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes unblur {
  from {
    filter: blur(4px);
  }
  to {
    filter: blur(0);
  }
}

@keyframes spin-shrink {
  from {
    transform: rotateY(0deg) rotateZ(0deg) scale(1);
  }
  to {
    transform: rotateY(360deg) rotateZ(360deg) scale(0.01);
  }
}

@keyframes disappear {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.bsg {
  border: 4px solid green;
}

.bsr {
  border: 4px solid red;
}

.bsb {
  border: 4px solid blue;
}

.bsy {
  border: 4px solid yellow;
}

.bsp {
  border: 4px solid purple;
}

.bso {
  border: 4px solid orange;
}

.trackLetters {
  letter-spacing: 0rem;
  transition: 3s;
}

.trackLetters:hover {
  letter-spacing: 1rem;
  margin-left: 20px;
}

@media (min-width: 768px) {
  .trackLetters {
    letter-spacing: 0rem;
    transition: 4s;
  }

  .trackLetters:hover {
    letter-spacing: 3rem;
    margin-left: 50px;
  }
}

@media (min-width: 1024px) {
  .trackLetters {
    letter-spacing: 0rem;
    transition: 5s;
  }

  .trackLetters:hover {
    letter-spacing: 5rem;
    margin-left: 110px;
  }
}

@media (min-width: 1280px) {
  .trackLetters {
    letter-spacing: 0rem;
    transition: 5s;
  }

  .trackLetters:hover {
    letter-spacing: 6rem;
    margin-left: 100px;
  }
}
